/*Admin-auth*/
.admin-section {
    margin-bottom: 401px;
    background-color: #fff;
    padding: 30px 0;
}

.form-inputs {
    margin: 0 auto;
    box-shadow: 0 0 5px #00000080;
    padding: 10px 0 20px 0;
}

.orders-field {
    box-shadow: 0 0 5px #00000080;
    padding: 2px 0;
}

.auth-admin {
    border: solid 2px gray;
    padding-left: 4px;
    margin: 10px auto;
}

.admin-auth-button {
    font-size: 16px;
    border: 2px solid gray;
    padding: 4px 8px;
    color: #fff;
    background: rgb(37, 0, 249);
    margin: 0 0 0 50px;
    border-radius: 4px;
    transition: 0.3s;
    &:hover {
        background: rgb(94, 66, 253);
    }
}



.admin-auth-text {
    text-align: center;
    color: red;
}

.input-fields {
    margin: 0 auto;
    width: 100%;
    max-width: 170px;
}

.admin-logout {
    color: #fff;
    background-color: red;
    padding: 4px 8px;
    border-radius: 2px;
    transition: 0.3s;
    font-size: 16px;
    margin: 0 0 0 14px;
    &:hover {
        background: rgb(250, 107, 107);
    }
}

.logout-panel {
    max-width: 200px;
    width: 100%;
    font-size: 16px;
    box-shadow: 0 0 5px #00000080;
    padding: 14px;
}
/*--------------------*/

/*Orders*/
.filter-button {
    padding: 4px 10px 0px 10px;
    border: 2px solid rgb(37, 0, 249);
    margin-right: 10px;
    border-radius: 26px;
    transition: .4s;
    &:active,&:focus {
        outline: none;
        
    }
    &:hover {
        background-color: orange;
        p {
            color: #fff;
        }
    }
}
.filter-button-active {
    outline: none;
    background-color: rgb(37, 0, 249);
    p {
        color: #fff;
    }
}
.order-filters {
    margin: 40px auto;
    box-shadow: 0 0 5px #00000080;
    padding: 20px;
}
.order {
    margin: 20px auto;
    box-shadow: 0 0 5px #00000080;
    padding: 20px 10px;
}
.editing {
    margin: 10px auto;

    
}

.editing-form {
    justify-content: space-between;
    display: flex;
}
.editing-heading {
    text-align: center;
    margin: 0 !important;
}

.order-edit-button {
    margin: 10px 0;
    padding: 4px 6px;
    transition: 0.3s;
    color: #fff;
    font-size: 16px;
}

.order-move-button {
    background-color: rgb(37, 0, 249);
    &:hover {
        background-color: orange;
    }
}

.order-move-new-button {
    background-color: green;
    &:hover {
        background-color: rgb(0, 255, 0);
    }
}
.order-move-processing-button {
    background-color: orange;
    &:hover {
        background-color: rgb(255, 208, 121);
    }
}

.order-delete-button {
    background-color: red;
    &:hover {
        background-color: rgb(255, 93, 93);
    }
}
.order-heading {
    margin: 0 0 20px 0;
}

.order-description,
.order-heading {
    padding: 10px;
    box-shadow: 0 0 5px #00000080;
}

.order-status {
    margin: 0 auto;
    text-align: center;
}
.order-time {
    text-align: right;
    margin: 18px 0 0 0;
}

.order-status-text {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    border-radius: 6px;
    padding: 8px 16px;
    margin: 0 auto;
    text-align: center;
}

.order-status-text-new {
    background-color: green;
}

.order-status-text-processing {
    background-color: orange;
}
.order-status-text-done {
    background-color: red;
}
/*--------------------*/

/*progress bar*/
.box
{
  background:#fff;
  padding: 6px;
  width:300px;
  height:300px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  flex-direction:column;
  box-shadow:0 30px 60px rgba(0,0,0,.4);
  transition: transform .2s;
  margin: 10px auto 34px;
}
/* .box:hover
{
 transform:scale(1.2);
} */
.box .percent
{
  width:150px;
  height:150px;
  position:relative;
}
.box .percent svg
{
  width:150px;
  height:150px;
  position:relative;
}
.box .percent svg circle
{
  width:150px;
  height:150px;
  fill:none;
  stroke-width:10;
  stroke:#000;
  transform:translate(5px,5px);
  stroke-linecap:round;
}

.percent-done {
    stroke-dasharray:500;
    stroke-dashoffset:500;
}
.box .percent svg circle:nth-child(1)
{
  stroke-dashoffset:0;
  stroke:#f3f3f3;
}
.box .percent svg circle:nth-child(2)
{
  stroke-dashoffset:calc(440 - (440 * 87) / 100);
  stroke:#03a9f4;
}
.box .percent .num
{
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  color:#111;
}
.box .percent .num h2
{
  font-size:48px;
}
.box .percent .num h2 span
{
  font-size:24px;
}
.box .text
{
  padding: 10px 0 0;
  color:#999;
  font-weight:700;
  letter-spacing:1px;
  font-size: 24px;
}

.percent-step-one {
    stroke-dasharray:250;
    stroke-dashoffset:500;
}

.percent-step-two {
    stroke-dasharray:390;
    stroke-dashoffset:500;
}

.percent-step-three {
    stroke-dasharray:450;
    stroke-dashoffset:500;
}
.percent-step-four {
    stroke-dasharray:470;
    stroke-dashoffset:500;
}
  
/*--------------------*/