/*Admin-auth*/
.admin-section {
    margin-bottom: 401px;
    background-color: #fff;
    padding: 30px 0;
}

.form-inputs {
    margin: 0 auto;
    box-shadow: 0 0 5px #00000080;
    padding: 10px 0 20px 0;
}

.orders-field {
    box-shadow: 0 0 5px #00000080;
    padding: 2px 0;
}

.auth-admin {
    border: solid 2px gray;
    padding-left: 4px;
    margin: 10px auto;
}

.admin-auth-button {
    font-size: 16px;
    border: 2px solid gray;
    padding: 4px 8px;
    color: #fff;
    background: rgb(37, 0, 249);
    margin: 0 0 0 50px;
    border-radius: 4px;
    transition: 0.3s;
    &:hover {
        background: rgb(94, 66, 253);
    }
}

.admin-auth-text {
    text-align: center;
    color: red;
}

.input-fields {
    margin: 0 auto;
    width: 100%;
    max-width: 170px;
}

.admin-logout {
    color: #fff;
    background-color: red;
    padding: 4px 8px;
    border-radius: 2px;
    transition: 0.3s;
    font-size: 16px;
    margin: 0 0 0 14px;
    &:hover {
        background: rgb(250, 107, 107);
    }
}

.logout-panel {
    max-width: 200px;
    width: 100%;
    font-size: 16px;
    box-shadow: 0 0 5px #00000080;
    padding: 14px;
}
/*--------------------*/

/*Orders*/
.filter-button {
    padding: 4px 10px 0px 10px;
    border-bottom: 2px solid rgb(37, 0, 249);
    margin-right: 10px;
}
.order-filters {
    margin: 40px auto;
    box-shadow: 0 0 5px #00000080;
    padding: 20px;
}
.order {
    margin: 20px auto;
    box-shadow: 0 0 5px #00000080;
    padding: 20px 10px;
}
.editing {
    margin: 0 auto;
}

.editing-form {
    justify-content: space-between;
    display: flex;
}
.editing-heading {
    text-align: center;
    margin: 0 !important;
}

.order-edit-button {
    margin: 10px 0;
    padding: 4px 6px;
    transition: 0.3s;
    color: #fff;
    font-size: 16px;
}

.order-move-button {
    background-color: rgb(37, 0, 249);
    &:hover {
        background-color: orange;
    }
}

.order-move-new-button {
    background-color: green;
    &:hover {
        background-color: rgb(0, 255, 0);
    }
}
.order-move-processing-button {
    background-color: orange;
    &:hover {
        background-color: rgb(255, 208, 121);
    }
}

.order-delete-button {
    background-color: red;
    &:hover {
        background-color: rgb(255, 93, 93);
    }
}
.order-heading {
    margin: 0 0 20px 0;
}

.order-description,
.order-heading {
    padding: 10px;
    box-shadow: 0 0 5px #00000080;
}

.order-status {
    margin: 0 auto;
    text-align: center;
}
.order-time {
    text-align: right;
    margin: 18px 0 0 0;
}

.order-status-text {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    border-radius: 6px;
    padding: 8px 16px;
    margin: 0 auto;
    text-align: center;
}

.order-status-text-new {
    background-color: green;
}

.order-status-text-processing {
    background-color: orange;
}
.order-status-text-done {
    background-color: red;
}
/*--------------------*/
